body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  position: absolute;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 0px;
}
.rectangle {
  position: absolute;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 0px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.logo {
  position: absolute;
  width: 260px;
  height: 32px;
  left: 590px;
  top: 20px;
}
/* table */
table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 952px;
  height: auto;
  min-height: 575px;
  left: 245px;
  top: 184px;

  background: #ffffff;

  border: 1px solid #e4e4e7;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
thead {
  position: static;
  width: 952px;

  left: 0px;
  top: 0px;

  background: #f4f5f7;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
tr {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  height: 40px;
  justify-content: space-evenly;

  color: #4b5563;
}

tbody {
  position: static;
  width: 952px;

  left: 0px;
  top: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.tr-body {
  display: flex;
  height: 53px;
  text-align: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  justify-content: space-evenly;
}
.tr-body:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.failure {
  background: #fde2e1;
  border-radius: 10px;
}
.successful {
  text-align: center;
  background: #def7ec;
  border-radius: 20px;
}
.upcoming {
  background: #fef3c7;
  border-radius: 20px;
}
/* pagination */
.pagination {
  position: absolute;
  display: flex;
  width: 550px;
  height: 40px;
  left: 650px;
  top: 775px;
}
.cell {
  border: 1px solid #e4e4e7;
  width: 40px;
  height: 40px;
}
.cell button {
  width: 40px;
  height: 40px;
}

.pagination button {
  background-color: white;
}
.pagination button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}
.cell:hover {
  cursor: pointer;
}
.cell:focus {
  color: #45b3e3;
  font-weight: bold;
}
/* modal */
.modal-wrapper {
  position: absolute;
  width: 544px;
  height: auto;
  left: 448px;
  top: 50px;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  /* Nitro White */

  background: #ffffff;
  /* Nitro Shadow */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 500px;
  top: 20px;
  order: 5;
  opacity: 0.75;
}
.icon:hover {
  cursor: pointer;
}
.desc {
  position: static;
  width: 480px;
  height: 120px;
  left: 32px;
  top: 150px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #1f2937;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
  border-radius: 6px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 238px;
  height: 72px;
  left: 32px;
  top: 32px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 480px;
  height: 350.64px;
  left: 32px;
  top: 256px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 16px 0px;
}
