/* pagination */
.pagination {
  position: absolute;
  width: auto;
  height: 40px;
  left: 905px;
  top: 775px;
}
.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.cell {
  border: 1px solid #e4e4e7;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4b5563;
  font-size: 12px;
}
.prev {
  border-radius: 6px 0px 0px 6px;
}
.next {
  border-radius: 0px 6px 6px 0px;
}
.pagination .cell {
  background-color: white;
}

.cell:hover {
  cursor: pointer;
}
.disabledCell {
  opacity: 50%;
  cursor: not-allowed;
  pointer-events: none;
}
.activeCell {
  color: #45b3e3;
  font-weight: bold;
}
